@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
/* Table of contents:
	1. Variables
	2. General
	3. Header
	4. Content
	5. Footer
	6. Contact form
	7. Responsive layouts
 */
/* ========================================================
 * 1. VARIABLES
 * ======================================================== */
/* ======== BODY ========== */
/* ======== BUTTONS ========== */
/* ======== MENU ========== */
/* ======== MENU LINKS ========== */
/* ======== SUB_MENU========== */
/* ======== SUB_MENU LINKS ========== */
/* ======== SUB SUB_MENU========== */
/* ======== SUB SUB_MENU LINKS ========== */
/* ======== END MENU========== */
/* ======== LIST ========== */
/* ======== END LIST ========== */
/* ======== MAP ========== */
/* ======== END MAP ========== */
/* ======== FORM ========== */
/* ======== END FORM ========== */
/* ========================================================
 * 2. GENERAL
 * ======================================================== */
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.extra_wrap {
  overflow: hidden;
  display: block;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  background: #ffffff;
  font: normal 14px/22px 'Ubuntu', sans-serif;
  color: #ffffff;
  position: relative;
  min-width: 320px;
  -webkit-text-size-adjust: none;
}
/* Images
 	* ------------------------------------------------------- */
img {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
  max-width: 100%;
}
.single_img {
  width: 100%;
  margin-bottom: 32px;
}
.img_fleft {
  float: left;
  margin-right: 20px;
}
.img_fright {
  float: right;
  margin-left: 20px;
}
/* ========================================================
	 * BUTTONS
	 * ======================================================== */
.btn_box {
  text-align: center;
  padding-top: 13px;
  margin-bottom: 40px;
}
.btn1 {
  position: relative;
  background: none;
  color: #ffffff;
  display: inline-block;
  font: 600 17px/20px 'Ubuntu', sans-serif;
  text-decoration: none;
  padding-right: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn1:hover {
  background: none;
  color: #332d2e;
  text-decoration: none;
}
.btn1:hover:after {
  color: #332d2e;
}
.btn1:after {
  display: block;
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  content: "\f0a9";
  color: #fff;
  font-size: 19px;
  line-height: 19px;
  width: 17px;
  height: 17px;
  right: 0px;
  top: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* Indents
	 * ------------------------------------------------------- */
p {
  margin-bottom: 22px;
  text-align: center;
}
/* ========================================================
	 * TITLES
	 * ======================================================== */
h1 {
  font: bold 36px/36px Arial, Helvetica, sans-serif;
  color: #ffffff;
}
h2 {
  font: bold 62px/74px 'Ubuntu', sans-serif;
  color: #fff;
  margin-bottom: 27px;
  text-align: center;
}
h3 {
  font: bold 26px/30px Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
h4 {
  font: bold 20px/24px Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
h5 {
  font: bold 16px/20px Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}
h6 {
  font: 600 16px/22px 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 1px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #6d6364;
  text-decoration: none;
}
/* ========================================================
	 * LIST
	 * ======================================================== */
.list {
  list-style: none;
  padding-left: 0;
}
.list li {
  font: 400 14px/22px 'Ubuntu', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 8px;
  padding-left: 0;
}
.list li:first-child {
  margin-top: 0;
}
.list li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.list li a:hover {
  color: #6d6364;
  text-decoration: none;
}
/* ========================================================
 * 3. HEADER
 * ======================================================== */
.header_box {
  background: url(../img/header_box.jpeg) no-repeat 0 0;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  padding-top: 315px;
  padding-bottom: 300px;
}
#index2 .header_box {
  padding-top: 115px;
  padding-bottom: 101px;
}
/* ======== LOGO ========== */
h1 {
  display: block;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
h1 a {
  display: inline-block;
}
h1 a:hover {
  text-decoration: none;
}
/* ======== MENU ========== */
/* ======== STUCK MENU ========== */
#stuck_container {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ff9100;
}
.isStuck {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.isStuck .tm_navbar {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 8px 0 8px 0px;
}
.isStuck .tm_navbar .nav > li a span {
  display: block;
  width: 100%;
  position: absolute;
  top: -7px;
}
.isStuck .tm_navbar .nav > li ul {
  top: 39px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.isStuck .tm_navbar .nav > li ul ul {
  top: -73px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.isStuck .menuBox {
  margin: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* ======== GENERAL MENU ========== */
.menuheader {
  margin-top: 0;
  margin-right: 0;
}
.tm_navbar {
  position: relative;
  padding: 20px 0 17px 0px;
  margin: 0;
  background: none;
  border: none;
  min-height: 20px;
  text-align: center;
}
.tm_navbar .nav {
  float: none;
  position: relative;
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.tm_navbar .nav > li {
  display: inline-block;
  text-align: center;
  font: 500 22px/22px 'Ubuntu', sans-serif;
  float: left;
  padding: 0;
  margin-left: 40px;
  position: relative;
  zoom: 1;
  /* ======== SUB_MENU========== */
}
.tm_navbar .nav > li:first-child {
  margin-left: 0;
}
.tm_navbar .nav > li a {
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #6d6364;
  background: none;
  padding: 2px 12px;
  border: none;
  text-shadow: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tm_navbar .nav > li a span {
  display: block;
  width: 100%;
  position: absolute;
  top: -22px;
  height: 0px;
  background: #ffa067;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tm_navbar .nav > li a:hover,
.tm_navbar .nav > li.active > a,
.tm_navbar .nav > li.active > a:hover {
  color: #ffffff;
  background: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tm_navbar .nav > li a:hover span,
.tm_navbar .nav > li.active > a span,
.tm_navbar .nav > li.active > a:hover span {
  height: 4px;
}
.tm_navbar .nav > li ul {
  position: absolute;
  display: none;
  top: -183px;
  left: 0px;
  width: 85px;
  padding: 33px 0 33px;
  list-style: none;
  zoom: 1;
  z-index: 14;
  background: #ffa067;
  margin: 0;
  /* ======== SUB SUB_MENU========== */
}
.tm_navbar .nav > li ul li {
  font: 300 12px/14px 'Ubuntu', sans-serif;
  text-align: center;
  padding: 0;
  margin: 6px 0 0 0;
  display: block;
  position: relative;
  border: none;
  zoom: 1;
  z-index: 14;
}
.tm_navbar .nav > li ul li:first-child {
  margin-top: 0;
}
.tm_navbar .nav > li ul a {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-shadow: none;
  color: #ffffff;
  background: none;
}
.tm_navbar .nav > li ul a:hover,
.tm_navbar .nav > li ul li.sfHover a.sf-with-ul {
  text-decoration: none;
  color: #332d2e;
  background: none;
}
.tm_navbar .nav > li ul ul {
  position: absolute;
  display: none;
  top: -73px;
  left: 86px;
  width: 85px;
  padding: 33px 0 33px;
  list-style: none;
  zoom: 1;
  z-index: 14;
  background: #fd0000;
  margin: 0;
}
.tm_navbar .nav > li ul ul li {
  margin: 6px 0 0 0;
  display: block;
  position: relative;
  border: none;
  zoom: 1;
  z-index: 14;
}
.tm_navbar .nav > li ul ul li:first-child {
  margin-top: 0;
}
.tm_navbar .nav > li ul ul a {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-shadow: none;
}
.tm_navbar .nav > li ul ul a:hover {
  text-decoration: none;
}
.select-menu {
  display: none !important;
  outline: none;
  background: rgb(255, 0, 0);
}
/* ========================================================
 * 4. CONTENT
 * ======================================================== */
#content {
  width: 100%;
}
.row_1 {
  background: #1075e7;
  padding-top: 50px;
  padding-bottom: 50px;
}
.row_1 .box {
  background: #1075e7;
  padding-left: 34px;
  padding-right: 34px;
}
#index2 .row2 {
  padding-bottom: 88px;
}
.row_2 {
  padding-top: 71px;
  padding-bottom: 48px;
  background: #ff5100;
}
.row_2 h2 {
  margin-bottom: 58px;
}
.row_2 .single_img {
  margin-bottom: 48px;
}
.row_2 .single_img.second {
  margin-bottom: 13px;
}
.row_2 h6.second {
  margin-bottom: 22px;
}
.row_3 {
  background: #ce88a3;
  padding-top: 65px;
  padding-bottom: 48px;
}
.row_3 h2 {
  margin-bottom: 58px;
}
.row_3 .single_img {
  margin-bottom: 12px;
}
.map_row {
  position: relative;
  margin-top: 282px;
  height: 427px;
  width: 100%;
  z-index: 10;
}
.map_row iframe {
  height: 100%;
  width: 100%;
  z-index: 10;
}
.testimonial_box {
  text-align: center;
}
.testimonial_box h4 {
  font: 500 16px/22px 'Ubuntu', sans-serif;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
}
.testimonial_box a {
  display: inline-block;
  font: 300 14px/22px 'Ubuntu', sans-serif;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.testimonial_box a:hover {
  text-decoration: none;
  color: #ff0026;
}
.testimonial_box .testimonial_content {
  position: relative;
  background: #ffaa73;
  padding: 41px 25px 45px;
  margin-bottom: 42px;
}
.testimonial_box .testimonial_content p {
  font: 300 14px/22px 'Ubuntu', sans-serif;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}
.testimonial_box .testimonial_content:after {
  position: absolute;
  content: '';
  width: 34px;
  height: 19px;
  bottom: -19px;
  left: 50%;
  margin-left: -17px;
  background: url(../img/testimonial_content.png) no-repeat 0 0;
}
.box {
  margin-top: 35px;
  background: #ffaa73;
  padding: 40px 0px 31px 0px;
  margin-bottom: 90px;
}
.box h4 {
  font: 500 30px/36px 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-top: 0;
}
.box2 {
  background: #ce88a3;
  padding: 46px 0px 52px 0px;
  text-align: center;
  font: 500 78px/78px 'Ubuntu', sans-serif;
}
.box2 span {
  display: block;
  font-size: 36px;
  line-height: 40px;
}
.box2 span span {
  font-size: 42px;
  line-height: 38px;
}
.icon_box {
  text-align: center;
  margin-bottom: 35px;
}
.icon_box img {
  margin-bottom: 30px;
  display: inline-block;
}
.icon_box p {
  margin-bottom: 0;
}
.post_box {
  margin-bottom: 33px;
  overflow: hidden;
}
.post_box .post_info {
  overflow: hidden;
  margin-bottom: 43px;
}
.post_box .post_info .post_title {
  float: left;
  text-align: left;
  padding-left: 50px;
  background: url(../img/post_title_icon.png) no-repeat 0px 7px;
  width: 540px;
  margin-right: 28px;
}
.post_box .post_info .post_title h4 {
  font: 500 16px/22px 'Ubuntu', sans-serif;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: left;
}
.post_box .post_info .post_title h6 {
  font: 300 14px/22px 'Ubuntu', sans-serif;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.post_box .post_info .post_autor {
  float: left;
  padding-left: 53px;
  background: url(../img/post_user_icon.png) no-repeat 0px 7px;
  margin-right: 46px;
}
.post_box .post_info .post_autor span {
  display: block;
  font: 300 14px/22px 'Ubuntu', sans-serif;
  color: #fff;
}
.post_box .post_info .post_autor a {
  font: 500 16px/22px 'Ubuntu', sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.post_box .post_info .post_autor a:hover {
  color: #6d6364;
}
.post_box .post_info .post_comment {
  float: left;
  background: url(../img/post_comment_icon.png) no-repeat 0px 7px;
  width: 38px;
  text-align: center;
  font: 500 18px/26px 'Ubuntu', sans-serif;
  color: #fc986b;
  padding-top: 7px;
  padding-bottom: 10px;
}
.post_box img {
  margin-bottom: 31px;
  width: 100%;
}
.post_box p {
  margin-bottom: 28px;
}
.mail_link {
  font: 500 14px/22px 'Ubuntu', sans-serif;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.mail_link:hover {
  text-decoration: none;
  color: #6d6364;
}
.row_404 {
  position: relative;
  margin: 0 auto;
  width: 673px;
  margin-bottom: 92px;
  background: #383132;
  padding: 16px 75px 42px 75px;
}
.row_404 h3 {
  font: 500 87px/70px 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 12px;
}
.row_404 h4 {
  font: 500 56px/70px 'Ubuntu', sans-serif;
  color: #ffaa73;
  text-align: center;
  margin-bottom: 19px;
}
/* ========================================================
 * 5. FOOTER
 * ======================================================== */
#index2 footer {
  padding-bottom: 40px;
}
footer {
  width: 100%;
  background: #ff9900;
  padding-top: 70px;
  text-align: center;
}
footer h2 {
  font-size: 92px;
  line-height: 92px;
  font-weight: 500;
  margin-top: 45px;
  margin-bottom: 14px;
}
footer .copyright {
  font: 300 12px/14px 'Ubuntu', sans-serif;
  color: #ff9900;
  text-transform: uppercase;
}
footer .copyright a {
  color: inherit;
}
footer .footer_soc_list {
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  display: inline-block;
}
footer .footer_soc_list li {
  float: left;
  margin-left: 9px;
  width: 29px;
  height: 29px;
}
footer .footer_soc_list li:first-child {
  margin-left: 0;
}
footer .footer_soc_list a {
  display: block;
  background: #ce88a3;
  color: #383132;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-border-radius: 49%;
  border-radius: 49%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
footer .footer_soc_list a:hover {
  background: #ffffff;
}
address {
  margin-bottom: 30px;
}
address .info {
  margin-bottom: 25px;
}
address .info strong {
  font: 500 16px/19px 'Ubuntu', sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
address .info p {
  font: 300 14px/17px 'Ubuntu', sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
/* ========================================================
 * 6. MAP, TO TOP
 * ======================================================== */
.gmap {
  margin-top: 0;
}
.gmap .map {
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  padding: 0 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
.gmap .map iframe {
  width: 100%;
  height: 608px;
  border: none;
  margin: 0;
}
#toTop {
  display: none;
  position: fixed;
  color: transparent;
  height: 28px;
  width: 28px;
  right: 50% !important;
  margin-right: -700px !important;
  bottom: 505px;
  color: #fff;
  z-index: 20;
  text-decoration: none;
}
#toTop:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f0aa";
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  top: 0;
  left: 0px;
  text-decoration: none;
}
#toTop:hover {
  text-decoration: none;
}
#toTop:hover:after {
  color: #ebbb9c;
  text-decoration: none;
}
#toTop:active,
#toTop:focus {
  outline: none;
  text-decoration: none;
}
/* ========================================================
 * 7. FORMS
 * ======================================================== */
/*------------ Contact form ------------*/
.contact-form .coll-1,
.contact-form .coll-2,
.contact-form .coll-3 {
  margin-bottom: 26px;
  margin-right: 19px;
  width: 244px;
  display: block;
  float: left;
}
.contact-form .coll-3 {
  margin-right: 0;
  width: 243px;
}
.coll-message {
  position: relative;
}
#contact-form {
  margin-top: 11px;
  position: relative;
}
#contact-form label {
  position: relative;
  display: block;
  margin-bottom: 0;
}
#contact-form span {
  display: block;
}
#contact-form input,
#contact-form textarea {
  outline: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font: normal 14px/14px 'Ubuntu', sans-serif;
  color: #6d6364;
  width: 100%;
  padding: 12px 13px 14px 13px;
  border: none;
  background: #ffffff;
}
#contact-form textarea {
  height: 314px;
  resize: none;
  margin: 0 0 35px;
  overflow: hidden;
}
#contact-form ._placeholder {
  width: 100%!important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: text;
  font: normal 14px/14px 'Ubuntu', sans-serif;
  color: #6d6364;
  padding: 14px 10px 9px 12px;
  display: block;
}
#contact-form ._placeholder.focused {
  opacity: .4;
  filter: alpha(opacity=40);
  box-shadow: none;
}
#contact-form ._placeholder.hidden {
  display: none;
}
#contact-form .success-message {
  font: normal 14px/14px 'Ubuntu', sans-serif;
  color: #6d6364;
  background: #ffffff;
  position: absolute;
  overflow: hidden;
  height: 0;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 10;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
  padding: 0;
}
#contact-form.success .success-message {
  height: 50px;
  color: #6d6364;
  padding: 15px 0;
  border: none;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
#contact-form .error-message,
#contact-form .empty-message {
  height: 0;
  overflow: hidden;
  font: 10px/20px 'Ubuntu', sans-serif;
  color: #6d6364;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  position: absolute;
  right: 3px;
  top: 0;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 20px;
}
#contact-form .btns {
  display: block;
  position: relative;
}
#contact-form .btns span {
  display: inline-block;
  margin-left: 110px;
  margin-top: 12px;
  font: 300 14px/17px 'Open Sans', sans-serif;
}
#contact-form .btn1 {
  clear: both;
  border: none;
  z-index: 10;
  font: 600 17px/20px 'Ubuntu', sans-serif;
  color: #ffffff;
  padding: 0px;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  background: none;
  display: inline-block;
  padding-right: 30px;
}
#contact-form .btn1:hover {
  color: #332d2e;
  background: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*------------ End Contact form ------------*/
/*------------ 404 ------------*/
.form-404 {
  width: 445px;
  display: block;
  margin: 0;
  margin-top: 23px;
  padding: 17px 27px;
  background: #ffa067;
  position: absolute;
  bottom: -48px;
  left: 50%;
  margin-left: -222px;
}
.form-404 input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #9f9f9f;
  background: #fff;
  width: 100%;
  height: 42px;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 7px 50px 7px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  float: left;
}
.form-404 input:focus {
  box-shadow: none;
  outline: none;
}
.form-404 a {
  position: absolute;
  margin-top: 0 !important;
  width: 29px;
  height: 32px;
  overflow: hidden;
  padding: 0;
  top: 20px;
  right: 37px;
  font-size: 31px;
  line-height: 31px;
  float: right;
  box-shadow: none;
  outline: none;
  border: none;
  color: #ffaa73;
}
.form-404 a:hover {
  box-shadow: none;
  text-decoration: none;
}
/*------------End 404 ------------*/
/* ========================================================
 * 8. RESPONSIVE LAYOUTS
 * ======================================================== */
@media (min-width: 1220px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1220px) {
  .contact-form .coll-1,
  .contact-form .coll-2,
  .contact-form .coll-3 {
    width: 237px;
  }
}
@media (max-width: 1200px) {
  .contact-form .coll-1,
  .contact-form .coll-2,
  .contact-form .coll-3 {
    width: 192px;
  }
  #contact-form textarea {
    height: 180px;
  }
}
/*------------Stuck menu ------------*/
@media (max-width: 991px) {
  h2 {
    font: bold 40px/60px 'Ubuntu', sans-serif;
  }
  h1 img {
    width: 100%;
  }
  #stuck_container {
    position: relative !important;
    box-shadow: none;
  }
  .pseudoStickyBlock {
    height: 0 !important;
  }
}
/*------------End Stuck menu------------*/
@media (min-width: 768px) and (max-width: 991px) {
  .post_box .post_info .post_title {
    width: 490px;
  }
  .contact-form .coll-1,
  .contact-form .coll-2,
  .contact-form .coll-3 {
    margin-right: 0;
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .row_404 {
    width: 100%;
    padding: 16px 15px 42px 15px;
  }
  .row_404 .form-404 {
    width: 80%;
    margin-left: -40%;
  }
  .post_box .post_info .post_title {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header_box {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .sf-menu {
    display: none !important;
  }
  .select-menu {
    display: block !important;
    border: 1px solid #343434;
    color: #000;
    background: #fff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  .select-menu option {
    padding: 0;
  }
  .testimonial_box {
    text-align: center;
    margin-bottom: 30px;
  }
  .map iframe {
    width: 100%;
    height: 250px;
  }
  .contact-form .coll-1,
  .contact-form .coll-2,
  .contact-form .coll-3 {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
  }
  footer h2 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 500;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  h2 {
    font: bold 30px/45px 'Ubuntu', sans-serif;
  }
}
/*Core variables and mixins*/
