/* Table of contents:
   1. General
   2. UFO
   3. Loader
   4. Progress bar
   5. Directional navigation
   6. Control navigation
   7. Thumbnails
   8. Caption
 */


/* ========================================================
 * 1. GENERAL
 * ======================================================== */

.camera_wrap a,
.camera_wrap img, 
.camera_wrap ol,
.camera_wrap ul,
.camera_wrap li,
.camera_wrap table,
.camera_wrap tbody,
.camera_wrap tfoot,
.camera_wrap thead,
.camera_wrap tr,
.camera_wrap th,
.camera_wrap td,
.camera_thumbs_wrap a,
.camera_thumbs_wrap img, 
.camera_thumbs_wrap ol,
.camera_thumbs_wrap ul,
.camera_thumbs_wrap li,
.camera_thumbs_wrap table,
.camera_thumbs_wrap tbody,
.camera_thumbs_wrap tfoot,
.camera_thumbs_wrap thead,
.camera_thumbs_wrap tr,
.camera_thumbs_wrap th,
.camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}

.camera_wrap {
	direction: ltr;
	display: none;
	position: relative;
	z-index: 0;
	width: 100%;
}
	.camera_fakehover {
		height: 100%;
		min-height: 60px;
		position: relative;
		width: 100%;
		z-index: 1;
	}
		.camera_src {
			display: none;
		}
		.camera_target {
			bottom: 0;
			height: 100%;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			text-align: left;
			top: 0;
			width: 100%;
			z-index: 0;
		}
			.cameraCont,
			.cameraContents {
				height: 100%;
				position: relative;
				width: 100%;
				z-index: 1;
			}
				.cameraSlide {
					bottom: 0;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					width: 100%;
				}
					.camera_wrap img {
						max-width: none!important;
					}
					.camerarelative {
						overflow: hidden;
						position: relative;
					}
		.camera_overlayer {
			bottom: 0;
			height: 100%;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 0;
		}
		.camera_target_content {
			bottom: 0;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
		}
			.cameraContent {
				bottom: 0;
				display: none;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}



/* ======================================================== 
 * 2. UFO
 * ======================================================== */

.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_thumbs_wrap.camera_left .camera_bar,
.camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar,
.camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}

.imgFake {
	cursor: pointer;
}

.camera_command_wrap .hideNav {
	display: none;
}

.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}



/* ======================================================== 
 * 3. LOADER
 * ======================================================== */
 
.camera_loader {
	background: url(../img/camera-loader.gif) no-repeat center #fff;
	border: 1px solid #fff;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}



/* ======================================================== 
 * 4. PROGRESS BAR
 * ======================================================== */

.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}



/* ======================================================== 
 * 5. DIRECTIONAL NAVIGATION
 * ======================================================== */

.camera_prev,
.camera_next,
.camera_commands{
	cursor: pointer;
	height: 54px;
	margin-top: -27px;
	position: absolute;
	top: 50%;
	width: 54px;
	z-index: 2;
}
	/*prev*/
	.camera_prev {
		left: 100px;
	}
		.camera_prev > span {
			background: url(../img/slider_nav.png) no-repeat 0 0;
			display: block;
			height: 54px;
			width: 54px;
		}
		.camera_prev > span:hover{
			background-position:0 -60px;
		}
	/*next*/
	.camera_next {
		right: 100px;
	}
		.camera_next > span {
			background: url(../img/slider_nav.png) no-repeat -60px 0;
			display: block;
			height: 54px;
			width: 54px;
		}
		.camera_next > span:hover{
			background-position: -60px -60px;
		}
	/*stop,play*/
	.camera_commands {
		right: 41px;
	}
		.camera_commands > .camera_play {
			background: url(../images/slider_play.png) no-repeat -80px 0;
			height: 40px;
			width: 40px;
		}
		.camera_commands > .camera_stop {
			background: url(../images/slider_stop.png) no-repeat -120px 0;
			display: block;
			height: 40px;
			width: 40px;
		}



/* ======================================================== 
 * 6. CONTROL NAVIGATION
 * ======================================================== */
 
.camera_wrap .camera_pag{
	bottom:20px;
	position:absolute;
	right:20px;
}
	.camera_wrap .camera_pag .camera_pag_ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
	}
	.camera_wrap .camera_pag .camera_pag_ul:after{
		clear: both;
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
		.camera_wrap .camera_pag .camera_pag_ul li {
			float: left;
			margin: 0 0 0 10px;
			position: relative;
		}
		.camera_wrap .camera_pag .camera_pag_ul li:first-child{
			margin-left: 0;
		}
			.camera_wrap .camera_pag .camera_pag_ul li > span {
				background: #ccc;
				border-radius: 5px;
				color: transparent;
				cursor: pointer;
				display: block;
				font-size: 0;
				height: 10px;
				line-height: 0;
				width: 10px;
			}
				.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span,
				.camera_wrap .camera_pag .camera_pag_ul li > span:hover{
					background-color: #000;
				}
			
			/*thumbnails*/
			.camera_wrap .camera_pag .camera_pag_ul li  img{
				display: none;
				height: auto;
				max-width: 150px !important;
				position: absolute;
			}
			.camera_pag_ul .thumb_arrow {
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid;
				top: 0;
				left: 50%;
				margin-left: -4px;
				position: absolute;
			}



/* ======================================================== 
 * 7. THUMBNAILS
 * ======================================================== */
 
.camera_thumbs{}
	.camera_command_wrap {
		left: 0;
		position: relative;
		right: 0;
		z-index: 4;
	}
		/* Thumbnail prev/next */
		.camera_prevThumbs,
		.camera_nextThumbs {
			bottom: 4px;
			cursor: pointer;
			position: absolute;
			top: 4px;
			width: 30px;
			z-index: 10;
		}
		.camera_prevThumbs{
			background: url(../images/slider_prev.png) no-repeat -160px 0;
			left: 0;
		}
		.camera_nextThumbs {
			background: url(../images/slider_next.png) no-repeat -190px 0;
			right: 0;
		}
		.camera_prevThumbs:hover,
		.camera_nextThumbs:hover {
			
		}
		.camera_prevThumbs div,
		.camera_nextThumbs div {
			display: none;
		}
		/* Thumbnails */
		.camera_thumbs_cont {
			overflow: hidden;
			position: relative;
			width: 100%;
		}
			.camera_thumbs_cont > div {
				float: left;
				width: 100%;
			}
				.camera_thumbs_cont ul {
					overflow: hidden;
					padding: 3px 4px 8px;
					position: relative;
					text-align: center;
				}
					.camera_thumbs_cont ul li {
						display: inline-block;
						max-width:200px;
						padding: 0 4px;
					}
						.camera_thumbs_cont ul li > img {
							border: 1px solid;
							cursor: pointer;
							max-width:100% !important;
						}



/* ======================================================== 
 * 8. CAPTION
 * ======================================================== */

.camera_caption {
	bottom: 0;
	display: block;
	position: absolute;
	width: 100%;
}
	.camera_caption > div {
		padding: 10px 20px;
	}